<main>
  <div>
    <form action="/excel" method="post" enctype="multipart/form-data">
        <Label>Add new file excel</Label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="excel">
          <input class="input-group-text" for="inputGroupFile02" type="submit" value="Upload">
        </div>
    </form>
  </div>
  <div class="jumbotron">
    <table class="table table-inverse">
        <thead>
          <h5 class="centre">Danh sách sinh viên</h5>
          <tr>
            <th>sv Id</th>
            <th>Tên sinh viên</th>
            <th>ngày sinh</th>
            <th>Ngành</th>
            <th>Hệ đào tạo</th>
            <th>Kết quả</th>
            <th>Hình thức</th>
            <th>Tình trạng</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <% sinhvien.forEach(entry => { %>
                <td><%= entry.sv_id %></td>
                <td><%= entry.sv_name %></td>
                <td><%= entry.sv_ngaysinh %></td>
                <td><%= entry.sv_nganh %></td>
                <td><%= entry.sv_hedaotao %></td>
                <td><%= entry.sv_ketqua %></td>
                <td><%= entry.sv_hinhthuc %></td>
                <td><%= entry.sv_tinhtrang %></td>
                <td><%= entry.sv_email %></td>
                <td>
                  <a href="/editstudent/<%=entry.id%>" class="btn btn-primary">Edit</a>
                  <a href="/deletestudent/<%=entry.id%>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
  <div class="row">
    <!-- hiển thị phân trang nếu có trang -->
    <% if(pages > 0) { %>
    <nav class="mx-auto">
      <ul class="pagination" style="margin-top: 2rem;">
        <!-- FIRST ITEM -->  
        <% if(current == 1) { %> 
            <li class="page-item disabled">
              <a class="page-link" href="/">First</a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/">First</a>
            </li>
        <% } %>
        <!-- ITEMS  -->
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
        <% if(i !== 1) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">...</a>
            </li>
        <% } %>
        <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
          <% if(i == current) { %>
            <li class="page-item active">
              <a class="page-link" href="/<%= i %>">
                <%= i %>
              </a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/<%= i %>">
                <%= i %>
              </a>
            </li>
        <% } %>
        <% if (i == Number(current) + 2 && i < pages) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">...</a>
            </li>
        <% } %>
        <% } %>
        <!-- LAST ITEM -->
        <% if(current == pages) { %> 
            <li class="page-item disabled">
              <a class="page-link" href="#">
                Last
              </a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/<%= pages %>">
                Last
              </a>
            </li>
        <% } %>
      </ul>
    </nav>
    <% } %>
  </div>
</main>